body{
    background-color: lightgray;
}
.head{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.body{
    padding: 20px;
    text-align: center;
    border: 1px solid gray;

    font-family: sans-serif;
}
div div div {
    color: grey;
    margin: 20px 0;
}
h1{
    font-weight: 700;
    font-size: 24px;
}
button{
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;
    font-weight: 700;
}
