.icon-box {
    width: 80px; 
    height: 80px; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    border: 2px solid #ddd; 
    border-radius: 4px; 
    position: relative; 
    transform: rotate(45deg); 
}
.icon-box i {
    font-size: 30px; 
    color: #d9534f; 
    transform: rotate(-45deg); 
}
hr{
    width: 250px;
    background-color: red;
    height: 2px;
    margin-left:0 ;
}
.body{
    display: flex;
    align-items: center;
    margin: 20px;
}
.head{
    display: flex;
    align-items: center;
}
.content{
    margin-right: 100px;
    margin-left: 50px;
}
p{
    color: gray;
}